@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200");

/* Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}


/* Box Model */

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* Grid */

.row {
  border-bottom: solid 1px transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row>* {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row:after,
.row:before {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.row.uniform>*> :first-child {
  margin-top: 0;
}

.row.uniform>*> :last-child {
  margin-bottom: 0;
}

.row.\30 \25>* {
  padding: 0 0 0 0em;
}

.row.\30 \25 {
  margin: 0 0 -1px 0em;
}

.row.uniform.\30 \25>* {
  padding: 0em 0 0 0em;
}

.row.uniform.\30 \25 {
  margin: 0em 0 -1px 0em;
}

.row>* {
  padding: 0 0 0 2em;
}

.row {
  margin: 0 0 -1px -2em;
}

.row.uniform>* {
  padding: 2em 0 0 2em;
}

.row.uniform {
  margin: -2em 0 -1px -2em;
}

.row.\32 00\25>* {
  padding: 0 0 0 4em;
}

.row.\32 00\25 {
  margin: 0 0 -1px -4em;
}

.row.uniform.\32 00\25>* {
  padding: 4em 0 0 4em;
}

.row.uniform.\32 00\25 {
  margin: -4em 0 -1px -4em;
}

.row.\31 50\25>* {
  padding: 0 0 0 3em;
}

.row.\31 50\25 {
  margin: 0 0 -1px -3em;
}

.row.uniform.\31 50\25>* {
  padding: 3em 0 0 3em;
}

.row.uniform.\31 50\25 {
  margin: -3em 0 -1px -3em;
}

.row.\35 0\25>* {
  padding: 0 0 0 1em;
}

.row.\35 0\25 {
  margin: 0 0 -1px -1em;
}

.row.uniform.\35 0\25>* {
  padding: 1em 0 0 1em;
}

.row.uniform.\35 0\25 {
  margin: -1em 0 -1px -1em;
}

.row.\32 5\25>* {
  padding: 0 0 0 0.5em;
}

.row.\32 5\25 {
  margin: 0 0 -1px -0.5em;
}

.row.uniform.\32 5\25>* {
  padding: 0.5em 0 0 0.5em;
}

.row.uniform.\32 5\25 {
  margin: -0.5em 0 -1px -0.5em;
}

.\31 2u,
.\31 2u\24 {
  width: 100%;
  clear: none;
  margin-left: 0;
}

.\31 1u,
.\31 1u\24 {
  width: 91.6666666667%;
  clear: none;
  margin-left: 0;
}

.\31 0u,
.\31 0u\24 {
  width: 83.3333333333%;
  clear: none;
  margin-left: 0;
}

.\39 u,
.\39 u\24 {
  width: 75%;
  clear: none;
  margin-left: 0;
}

.\38 u,
.\38 u\24 {
  width: 66.6666666667%;
  clear: none;
  margin-left: 0;
}

.\37 u,
.\37 u\24 {
  width: 58.3333333333%;
  clear: none;
  margin-left: 0;
}

.\36 u,
.\36 u\24 {
  width: 50%;
  clear: none;
  margin-left: 0;
}

.\35 u,
.\35 u\24 {
  width: 41.6666666667%;
  clear: none;
  margin-left: 0;
}

.\34 u,
.\34 u\24 {
  width: 33.3333333333%;
  clear: none;
  margin-left: 0;
}

.\33 u,
.\33 u\24 {
  width: 25%;
  clear: none;
  margin-left: 0;
}

.\32 u,
.\32 u\24 {
  width: 16.6666666667%;
  clear: none;
  margin-left: 0;
}

.\31 u,
.\31 u\24 {
  width: 8.3333333333%;
  clear: none;
  margin-left: 0;
}

.\31 2u\24+*,
.\31 1u\24+*,
.\31 0u\24+*,
.\39 u\24+*,
.\38 u\24+*,
.\37 u\24+*,
.\36 u\24+*,
.\35 u\24+*,
.\34 u\24+*,
.\33 u\24+*,
.\32 u\24+*,
.\31 u\24+* {
  clear: left;
}

.\-11u {
  margin-left: 91.66667%;
}

.\-10u {
  margin-left: 83.33333%;
}

.\-9u {
  margin-left: 75%;
}

.\-8u {
  margin-left: 66.66667%;
}

.\-7u {
  margin-left: 58.33333%;
}

.\-6u {
  margin-left: 50%;
}

.\-5u {
  margin-left: 41.66667%;
}

.\-4u {
  margin-left: 33.33333%;
}

.\-3u {
  margin-left: 25%;
}

.\-2u {
  margin-left: 16.66667%;
}

.\-1u {
  margin-left: 8.33333%;
}

@media screen and (max-width: 1680px) {
  .row>* {
    padding: 0 0 0 2em;
  }
  .row {
    margin: 0 0 -1px -2em;
  }
  .row.uniform>* {
    padding: 2em 0 0 2em;
  }
  .row.uniform {
    margin: -2em 0 -1px -2em;
  }
  .row.\32 00\25>* {
    padding: 0 0 0 4em;
  }
  .row.\32 00\25 {
    margin: 0 0 -1px -4em;
  }
  .row.uniform.\32 00\25>* {
    padding: 4em 0 0 4em;
  }
  .row.uniform.\32 00\25 {
    margin: -4em 0 -1px -4em;
  }
  .row.\31 50\25>* {
    padding: 0 0 0 3em;
  }
  .row.\31 50\25 {
    margin: 0 0 -1px -3em;
  }
  .row.uniform.\31 50\25>* {
    padding: 3em 0 0 3em;
  }
  .row.uniform.\31 50\25 {
    margin: -3em 0 -1px -3em;
  }
  .row.\35 0\25>* {
    padding: 0 0 0 1em;
  }
  .row.\35 0\25 {
    margin: 0 0 -1px -1em;
  }
  .row.uniform.\35 0\25>* {
    padding: 1em 0 0 1em;
  }
  .row.uniform.\35 0\25 {
    margin: -1em 0 -1px -1em;
  }
  .row.\32 5\25>* {
    padding: 0 0 0 0.5em;
  }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.5em;
  }
  .row.uniform.\32 5\25>* {
    padding: 0.5em 0 0 0.5em;
  }
  .row.uniform.\32 5\25 {
    margin: -0.5em 0 -1px -0.5em;
  }
  .\31 2u\28xlarge\29,
  .\31 2u\24\28xlarge\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28xlarge\29,
  .\31 1u\24\28xlarge\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28xlarge\29,
  .\31 0u\24\28xlarge\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28xlarge\29,
  .\39 u\24\28xlarge\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28xlarge\29,
  .\38 u\24\28xlarge\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28xlarge\29,
  .\37 u\24\28xlarge\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28xlarge\29,
  .\36 u\24\28xlarge\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28xlarge\29,
  .\35 u\24\28xlarge\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28xlarge\29,
  .\34 u\24\28xlarge\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28xlarge\29,
  .\33 u\24\28xlarge\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28xlarge\29,
  .\32 u\24\28xlarge\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28xlarge\29,
  .\31 u\24\28xlarge\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28xlarge\29+*,
  .\31 1u\24\28xlarge\29+*,
  .\31 0u\24\28xlarge\29+*,
  .\39 u\24\28xlarge\29+*,
  .\38 u\24\28xlarge\29+*,
  .\37 u\24\28xlarge\29+*,
  .\36 u\24\28xlarge\29+*,
  .\35 u\24\28xlarge\29+*,
  .\34 u\24\28xlarge\29+*,
  .\33 u\24\28xlarge\29+*,
  .\32 u\24\28xlarge\29+*,
  .\31 u\24\28xlarge\29+* {
    clear: left;
  }
  .\-11u\28xlarge\29 {
    margin-left: 91.66667%;
  }
  .\-10u\28xlarge\29 {
    margin-left: 83.33333%;
  }
  .\-9u\28xlarge\29 {
    margin-left: 75%;
  }
  .\-8u\28xlarge\29 {
    margin-left: 66.66667%;
  }
  .\-7u\28xlarge\29 {
    margin-left: 58.33333%;
  }
  .\-6u\28xlarge\29 {
    margin-left: 50%;
  }
  .\-5u\28xlarge\29 {
    margin-left: 41.66667%;
  }
  .\-4u\28xlarge\29 {
    margin-left: 33.33333%;
  }
  .\-3u\28xlarge\29 {
    margin-left: 25%;
  }
  .\-2u\28xlarge\29 {
    margin-left: 16.66667%;
  }
  .\-1u\28xlarge\29 {
    margin-left: 8.33333%;
  }
}

@media screen and (max-width: 1280px) {
  .row>* {
    padding: 0 0 0 2em;
  }
  .row {
    margin: 0 0 -1px -2em;
  }
  .row.uniform>* {
    padding: 2em 0 0 2em;
  }
  .row.uniform {
    margin: -2em 0 -1px -2em;
  }
  .row.\32 00\25>* {
    padding: 0 0 0 4em;
  }
  .row.\32 00\25 {
    margin: 0 0 -1px -4em;
  }
  .row.uniform.\32 00\25>* {
    padding: 4em 0 0 4em;
  }
  .row.uniform.\32 00\25 {
    margin: -4em 0 -1px -4em;
  }
  .row.\31 50\25>* {
    padding: 0 0 0 3em;
  }
  .row.\31 50\25 {
    margin: 0 0 -1px -3em;
  }
  .row.uniform.\31 50\25>* {
    padding: 3em 0 0 3em;
  }
  .row.uniform.\31 50\25 {
    margin: -3em 0 -1px -3em;
  }
  .row.\35 0\25>* {
    padding: 0 0 0 1em;
  }
  .row.\35 0\25 {
    margin: 0 0 -1px -1em;
  }
  .row.uniform.\35 0\25>* {
    padding: 1em 0 0 1em;
  }
  .row.uniform.\35 0\25 {
    margin: -1em 0 -1px -1em;
  }
  .row.\32 5\25>* {
    padding: 0 0 0 0.5em;
  }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.5em;
  }
  .row.uniform.\32 5\25>* {
    padding: 0.5em 0 0 0.5em;
  }
  .row.uniform.\32 5\25 {
    margin: -0.5em 0 -1px -0.5em;
  }
  .\31 2u\28large\29,
  .\31 2u\24\28large\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28large\29,
  .\31 1u\24\28large\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28large\29,
  .\31 0u\24\28large\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28large\29,
  .\39 u\24\28large\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28large\29,
  .\38 u\24\28large\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28large\29,
  .\37 u\24\28large\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28large\29,
  .\36 u\24\28large\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28large\29,
  .\35 u\24\28large\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28large\29,
  .\34 u\24\28large\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28large\29,
  .\33 u\24\28large\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28large\29,
  .\32 u\24\28large\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28large\29,
  .\31 u\24\28large\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28large\29+*,
  .\31 1u\24\28large\29+*,
  .\31 0u\24\28large\29+*,
  .\39 u\24\28large\29+*,
  .\38 u\24\28large\29+*,
  .\37 u\24\28large\29+*,
  .\36 u\24\28large\29+*,
  .\35 u\24\28large\29+*,
  .\34 u\24\28large\29+*,
  .\33 u\24\28large\29+*,
  .\32 u\24\28large\29+*,
  .\31 u\24\28large\29+* {
    clear: left;
  }
  .\-11u\28large\29 {
    margin-left: 91.66667%;
  }
  .\-10u\28large\29 {
    margin-left: 83.33333%;
  }
  .\-9u\28large\29 {
    margin-left: 75%;
  }
  .\-8u\28large\29 {
    margin-left: 66.66667%;
  }
  .\-7u\28large\29 {
    margin-left: 58.33333%;
  }
  .\-6u\28large\29 {
    margin-left: 50%;
  }
  .\-5u\28large\29 {
    margin-left: 41.66667%;
  }
  .\-4u\28large\29 {
    margin-left: 33.33333%;
  }
  .\-3u\28large\29 {
    margin-left: 25%;
  }
  .\-2u\28large\29 {
    margin-left: 16.66667%;
  }
  .\-1u\28large\29 {
    margin-left: 8.33333%;
  }
}

@media screen and (max-width: 980px) {
  .row>* {
    padding: 0 0 0 2em;
  }
  .row {
    margin: 0 0 -1px -2em;
  }
  .row.uniform>* {
    padding: 2em 0 0 2em;
  }
  .row.uniform {
    margin: -2em 0 -1px -2em;
  }
  .row.\32 00\25>* {
    padding: 0 0 0 4em;
  }
  .row.\32 00\25 {
    margin: 0 0 -1px -4em;
  }
  .row.uniform.\32 00\25>* {
    padding: 4em 0 0 4em;
  }
  .row.uniform.\32 00\25 {
    margin: -4em 0 -1px -4em;
  }
  .row.\31 50\25>* {
    padding: 0 0 0 3em;
  }
  .row.\31 50\25 {
    margin: 0 0 -1px -3em;
  }
  .row.uniform.\31 50\25>* {
    padding: 3em 0 0 3em;
  }
  .row.uniform.\31 50\25 {
    margin: -3em 0 -1px -3em;
  }
  .row.\35 0\25>* {
    padding: 0 0 0 1em;
  }
  .row.\35 0\25 {
    margin: 0 0 -1px -1em;
  }
  .row.uniform.\35 0\25>* {
    padding: 1em 0 0 1em;
  }
  .row.uniform.\35 0\25 {
    margin: -1em 0 -1px -1em;
  }
  .row.\32 5\25>* {
    padding: 0 0 0 0.5em;
  }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.5em;
  }
  .row.uniform.\32 5\25>* {
    padding: 0.5em 0 0 0.5em;
  }
  .row.uniform.\32 5\25 {
    margin: -0.5em 0 -1px -0.5em;
  }
  .\31 2u\28medium\29,
  .\31 2u\24\28medium\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28medium\29,
  .\31 1u\24\28medium\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28medium\29,
  .\31 0u\24\28medium\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28medium\29,
  .\39 u\24\28medium\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28medium\29,
  .\38 u\24\28medium\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28medium\29,
  .\37 u\24\28medium\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28medium\29,
  .\36 u\24\28medium\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28medium\29,
  .\35 u\24\28medium\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28medium\29,
  .\34 u\24\28medium\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28medium\29,
  .\33 u\24\28medium\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28medium\29,
  .\32 u\24\28medium\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28medium\29,
  .\31 u\24\28medium\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28medium\29+*,
  .\31 1u\24\28medium\29+*,
  .\31 0u\24\28medium\29+*,
  .\39 u\24\28medium\29+*,
  .\38 u\24\28medium\29+*,
  .\37 u\24\28medium\29+*,
  .\36 u\24\28medium\29+*,
  .\35 u\24\28medium\29+*,
  .\34 u\24\28medium\29+*,
  .\33 u\24\28medium\29+*,
  .\32 u\24\28medium\29+*,
  .\31 u\24\28medium\29+* {
    clear: left;
  }
  .\-11u\28medium\29 {
    margin-left: 91.66667%;
  }
  .\-10u\28medium\29 {
    margin-left: 83.33333%;
  }
  .\-9u\28medium\29 {
    margin-left: 75%;
  }
  .\-8u\28medium\29 {
    margin-left: 66.66667%;
  }
  .\-7u\28medium\29 {
    margin-left: 58.33333%;
  }
  .\-6u\28medium\29 {
    margin-left: 50%;
  }
  .\-5u\28medium\29 {
    margin-left: 41.66667%;
  }
  .\-4u\28medium\29 {
    margin-left: 33.33333%;
  }
  .\-3u\28medium\29 {
    margin-left: 25%;
  }
  .\-2u\28medium\29 {
    margin-left: 16.66667%;
  }
  .\-1u\28medium\29 {
    margin-left: 8.33333%;
  }
}

@media screen and (max-width: 736px) {
  .row>* {
    padding: 0 0 0 2em;
  }
  .row {
    margin: 0 0 -1px -2em;
  }
  .row.uniform>* {
    padding: 2em 0 0 2em;
  }
  .row.uniform {
    margin: -2em 0 -1px -2em;
  }
  .row.\32 00\25>* {
    padding: 0 0 0 4em;
  }
  .row.\32 00\25 {
    margin: 0 0 -1px -4em;
  }
  .row.uniform.\32 00\25>* {
    padding: 4em 0 0 4em;
  }
  .row.uniform.\32 00\25 {
    margin: -4em 0 -1px -4em;
  }
  .row.\31 50\25>* {
    padding: 0 0 0 3em;
  }
  .row.\31 50\25 {
    margin: 0 0 -1px -3em;
  }
  .row.uniform.\31 50\25>* {
    padding: 3em 0 0 3em;
  }
  .row.uniform.\31 50\25 {
    margin: -3em 0 -1px -3em;
  }
  .row.\35 0\25>* {
    padding: 0 0 0 1em;
  }
  .row.\35 0\25 {
    margin: 0 0 -1px -1em;
  }
  .row.uniform.\35 0\25>* {
    padding: 1em 0 0 1em;
  }
  .row.uniform.\35 0\25 {
    margin: -1em 0 -1px -1em;
  }
  .row.\32 5\25>* {
    padding: 0 0 0 0.5em;
  }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.5em;
  }
  .row.uniform.\32 5\25>* {
    padding: 0.5em 0 0 0.5em;
  }
  .row.uniform.\32 5\25 {
    margin: -0.5em 0 -1px -0.5em;
  }
  .\31 2u\28small\29,
  .\31 2u\24\28small\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28small\29,
  .\31 1u\24\28small\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28small\29,
  .\31 0u\24\28small\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28small\29,
  .\39 u\24\28small\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28small\29,
  .\38 u\24\28small\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28small\29,
  .\37 u\24\28small\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28small\29,
  .\36 u\24\28small\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28small\29,
  .\35 u\24\28small\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28small\29,
  .\34 u\24\28small\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28small\29,
  .\33 u\24\28small\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28small\29,
  .\32 u\24\28small\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28small\29,
  .\31 u\24\28small\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28small\29+*,
  .\31 1u\24\28small\29+*,
  .\31 0u\24\28small\29+*,
  .\39 u\24\28small\29+*,
  .\38 u\24\28small\29+*,
  .\37 u\24\28small\29+*,
  .\36 u\24\28small\29+*,
  .\35 u\24\28small\29+*,
  .\34 u\24\28small\29+*,
  .\33 u\24\28small\29+*,
  .\32 u\24\28small\29+*,
  .\31 u\24\28small\29+* {
    clear: left;
  }
  .\-11u\28small\29 {
    margin-left: 91.66667%;
  }
  .\-10u\28small\29 {
    margin-left: 83.33333%;
  }
  .\-9u\28small\29 {
    margin-left: 75%;
  }
  .\-8u\28small\29 {
    margin-left: 66.66667%;
  }
  .\-7u\28small\29 {
    margin-left: 58.33333%;
  }
  .\-6u\28small\29 {
    margin-left: 50%;
  }
  .\-5u\28small\29 {
    margin-left: 41.66667%;
  }
  .\-4u\28small\29 {
    margin-left: 33.33333%;
  }
  .\-3u\28small\29 {
    margin-left: 25%;
  }
  .\-2u\28small\29 {
    margin-left: 16.66667%;
  }
  .\-1u\28small\29 {
    margin-left: 8.33333%;
  }
}

@media screen and (max-width: 480px) {
  .row>* {
    padding: 0 0 0 2em;
  }
  .row {
    margin: 0 0 -1px -2em;
  }
  .row.uniform>* {
    padding: 2em 0 0 2em;
  }
  .row.uniform {
    margin: -2em 0 -1px -2em;
  }
  .row.\32 00\25>* {
    padding: 0 0 0 4em;
  }
  .row.\32 00\25 {
    margin: 0 0 -1px -4em;
  }
  .row.uniform.\32 00\25>* {
    padding: 4em 0 0 4em;
  }
  .row.uniform.\32 00\25 {
    margin: -4em 0 -1px -4em;
  }
  .row.\31 50\25>* {
    padding: 0 0 0 3em;
  }
  .row.\31 50\25 {
    margin: 0 0 -1px -3em;
  }
  .row.uniform.\31 50\25>* {
    padding: 3em 0 0 3em;
  }
  .row.uniform.\31 50\25 {
    margin: -3em 0 -1px -3em;
  }
  .row.\35 0\25>* {
    padding: 0 0 0 1em;
  }
  .row.\35 0\25 {
    margin: 0 0 -1px -1em;
  }
  .row.uniform.\35 0\25>* {
    padding: 1em 0 0 1em;
  }
  .row.uniform.\35 0\25 {
    margin: -1em 0 -1px -1em;
  }
  .row.\32 5\25>* {
    padding: 0 0 0 0.5em;
  }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.5em;
  }
  .row.uniform.\32 5\25>* {
    padding: 0.5em 0 0 0.5em;
  }
  .row.uniform.\32 5\25 {
    margin: -0.5em 0 -1px -0.5em;
  }
  .\31 2u\28xsmall\29,
  .\31 2u\24\28xsmall\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28xsmall\29,
  .\31 1u\24\28xsmall\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28xsmall\29,
  .\31 0u\24\28xsmall\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28xsmall\29,
  .\39 u\24\28xsmall\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28xsmall\29,
  .\38 u\24\28xsmall\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28xsmall\29,
  .\37 u\24\28xsmall\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28xsmall\29,
  .\36 u\24\28xsmall\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28xsmall\29,
  .\35 u\24\28xsmall\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28xsmall\29,
  .\34 u\24\28xsmall\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28xsmall\29,
  .\33 u\24\28xsmall\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28xsmall\29,
  .\32 u\24\28xsmall\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28xsmall\29,
  .\31 u\24\28xsmall\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28xsmall\29+*,
  .\31 1u\24\28xsmall\29+*,
  .\31 0u\24\28xsmall\29+*,
  .\39 u\24\28xsmall\29+*,
  .\38 u\24\28xsmall\29+*,
  .\37 u\24\28xsmall\29+*,
  .\36 u\24\28xsmall\29+*,
  .\35 u\24\28xsmall\29+*,
  .\34 u\24\28xsmall\29+*,
  .\33 u\24\28xsmall\29+*,
  .\32 u\24\28xsmall\29+*,
  .\31 u\24\28xsmall\29+* {
    clear: left;
  }
  .\-11u\28xsmall\29 {
    margin-left: 91.66667%;
  }
  .\-10u\28xsmall\29 {
    margin-left: 83.33333%;
  }
  .\-9u\28xsmall\29 {
    margin-left: 75%;
  }
  .\-8u\28xsmall\29 {
    margin-left: 66.66667%;
  }
  .\-7u\28xsmall\29 {
    margin-left: 58.33333%;
  }
  .\-6u\28xsmall\29 {
    margin-left: 50%;
  }
  .\-5u\28xsmall\29 {
    margin-left: 41.66667%;
  }
  .\-4u\28xsmall\29 {
    margin-left: 33.33333%;
  }
  .\-3u\28xsmall\29 {
    margin-left: 25%;
  }
  .\-2u\28xsmall\29 {
    margin-left: 16.66667%;
  }
  .\-1u\28xsmall\29 {
    margin-left: 8.33333%;
  }
}


/* Basic */

@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
}

body {
  background-color: #212121;
  background: url(https://2ch.hk/b/arch/2016-03-14/src/120026925/14579830270020.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

body.is-loading *,
body.is-loading *:before,
body.is-loading *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}


/* Type */

body,
input,
select,
textarea {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 200;
  line-height: 1.65;
}

@media screen and (max-width: 1280px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  border-bottom-color: transparent;
}

strong,
b {
  color: #ffffff;
  font-weight: 200;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-weight: 200;
  line-height: 1.5;
  margin: 0 0 1em 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 980px) {
  h1 br,
  h2 br,
  h3 br,
  h4 br,
  h5 br,
  h6 br {
    display: none;
  }
}

h1 {
  font-size: 1.75em;
}

@media screen and (max-width: 980px) {
  h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 736px) {
  h1 {
    font-size: 1.25em;
  }
}

h2 {
  font-size: 1.35em;
}

@media screen and (max-width: 736px) {
  h2 {
    font-size: 1em;
  }
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.7em;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

blockquote {
  border-left: solid 4px rgba(255, 255, 255, 0.25);
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}

code {
  background: rgba(255, 255, 255, 0.075);
  border-radius: 4px;
  border: solid 1px rgba(255, 255, 255, 0.25);
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0;
}

pre code {
  display: block;
  line-height: 1.75;
  padding: 1em 1.5em;
  overflow-x: auto;
}

hr {
  border: 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.25);
  margin: 2em 0;
}

hr.major {
  margin: 3em 0;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}


/* Section/Article */

section.special,
article.special {
  text-align: center;
}

header p {
  color: rgba(255, 255, 255, 0.35);
  position: relative;
  margin: 0 0 1.5em 0;
}

header h2+p {
  font-size: 1.25em;
  margin-top: -1em;
}

header h3+p {
  font-size: 1.1em;
  margin-top: -0.8em;
}

header h4+p,
header h5+p,
header h6+p {
  font-size: 0.9em;
  margin-top: -0.6em;
}


/* Form */

form {
  margin: 0 0 2em 0;
}

label {
  color: #ffffff;
  display: block;
  font-size: 0.9em;
  font-weight: 200;
  margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(255, 255, 255, 0.075);
  border-radius: 4px;
  border: none;
  border: solid 1px rgba(255, 255, 255, 0.25);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border-color: #FF6382;
  box-shadow: 0 0 0 1px #FF6382;
}

.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative;
}

.select-wrapper:before {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.select-wrapper:before {
  color: rgba(255, 255, 255, 0.25);
  display: block;
  height: 2.75em;
  line-height: 2.75em;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 2.75em;
}

.select-wrapper select::-ms-expand {
  display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 2.75em;
}

textarea {
  padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.65);
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 200;
  padding-left: 2.4em;
  padding-right: 0.75em;
  position: relative;
}

input[type="checkbox"]+label:before,
input[type="radio"]+label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

input[type="checkbox"]+label:before,
input[type="radio"]+label:before {
  background: rgba(255, 255, 255, 0.075);
  border-radius: 4px;
  border: solid 1px rgba(255, 255, 255, 0.25);
  content: '';
  display: inline-block;
  height: 1.65em;
  left: 0;
  line-height: 1.58125em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1.65em;
}

input[type="checkbox"]:checked+label:before,
input[type="radio"]:checked+label:before {
  background: #FF6382;
  border-color: #FF6382;
  color: #ffffff;
  content: '\f00c';
}

input[type="checkbox"]:focus+label:before,
input[type="radio"]:focus+label:before {
  border-color: #FF6382;
  box-shadow: 0 0 0 1px #FF6382;
}

input[type="checkbox"]+label:before {
  border-radius: 4px;
}

input[type="radio"]+label:before {
  border-radius: 100%;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.35) !important;
  opacity: 1.0;
}

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.35) !important;
  opacity: 1.0;
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.35) !important;
  opacity: 1.0;
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.35) !important;
  opacity: 1.0;
}

.formerize-placeholder {
  color: rgba(255, 255, 255, 0.35) !important;
  opacity: 1.0;
}


/* Box */

.box {
  border-radius: 4px;
  border: solid 1px rgba(255, 255, 255, 0.25);
  margin-bottom: 2em;
  padding: 1.5em;
}

.box> :last-child,
.box> :last-child> :last-child,
.box> :last-child> :last-child> :last-child {
  margin-bottom: 0;
}

.box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}


/* Icon */

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon>.label {
  display: none;
}

.icon.style2 {
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 100%;
  display: inline-block;
  padding: 0.5em;
  border: solid 1px rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.075);
  color: #fff;
}

.icon.style2:before {
  display: block;
  width: 1.25em;
  height: 1.25em;
  line-height: 1.25em;
  font-size: 1.35em;
}

.icon.style2:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

@media screen and (max-width: 736px) {
  .icon.style2:before {
    font-size: 1em;
  }
}


/* Image */

.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  border-radius: 4px;
  display: block;
}

.image.left,
.image.right {
  max-width: 40%;
}

.image.left img,
.image.right img {
  width: 100%;
}

.image.left {
  float: left;
  padding: 0 1.5em 1em 0;
  top: 0.25em;
}

.image.right {
  float: right;
  padding: 0 0 1em 1.5em;
  top: 0.25em;
}

.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

.image.main {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}

.image.main img {
  width: 100%;
}


/* List */

ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;
}

ol li {
  padding-left: 0.25em;
}

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

ul.alt {
  list-style: none;
  padding-left: 0;
}

ul.alt li {
  border-top: solid 1px rgba(255, 255, 255, 0.25);
  padding: 0.5em 0;
}

ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}

ul.icons li:last-child {
  padding-right: 0;
}

ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}

ul.actions li:last-child {
  padding-right: 0;
}

ul.actions.small li {
  padding: 0 0.5em 0 0;
}

ul.actions.vertical li {
  display: block;
  padding: 1em 0 0 0;
}

ul.actions.vertical li:first-child {
  padding-top: 0;
}

ul.actions.vertical li>* {
  margin-bottom: 0;
}

ul.actions.vertical.small li {
  padding: 0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
  padding-top: 0;
}

ul.actions.fit {
  display: table;
  margin-left: -1em;
  padding: 0;
  table-layout: fixed;
  width: calc(100% + 1em);
}

ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 1em;
}

ul.actions.fit li>* {
  margin-bottom: 0;
}

ul.actions.fit.small {
  margin-left: -0.5em;
  width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
  padding: 0 0 0 0.5em;
}

@media screen and (max-width: 480px) {
  ul.actions {
    margin: 0 0 2em 0;
  }
  ul.actions li {
    padding: 1em 0 0 0;
    display: block;
    text-align: center;
    width: 100%;
  }
  ul.actions li:first-child {
    padding-top: 0;
  }
  ul.actions li>* {
    width: 100%;
    margin: 0 !important;
  }
  ul.actions li>*.icon:before {
    margin-left: -2em;
  }
  ul.actions.small li {
    padding: 0.5em 0 0 0;
  }
  ul.actions.small li:first-child {
    padding-top: 0;
  }
}

dl {
  margin: 0 0 2em 0;
}

dl dt {
  display: block;
  font-weight: 200;
  margin: 0 0 1em 0;
}

dl dd {
  margin-left: 2em;
}


/* Table */

.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

table {
  margin: 0 0 2em 0;
  width: 100%;
}

table tbody tr {
  border: solid 1px rgba(255, 255, 255, 0.25);
  border-left: 0;
  border-right: 0;
}

table tbody tr:nth-child(2n+1) {
  background-color: rgba(255, 255, 255, 0.075);
}

table td {
  padding: 0.75em 0.75em;
}

table th {
  color: #ffffff;
  font-size: 0.9em;
  font-weight: 200;
  padding: 0 0.75em 0.75em 0.75em;
  text-align: left;
}

table thead {
  border-bottom: solid 2px rgba(255, 255, 255, 0.25);
}

table tfoot {
  border-top: solid 2px rgba(255, 255, 255, 0.25);
}

table.alt {
  border-collapse: separate;
}

table.alt tbody tr td {
  border: solid 1px rgba(255, 255, 255, 0.25);
  border-left-width: 0;
  border-top-width: 0;
}

table.alt tbody tr td:first-child {
  border-left-width: 1px;
}

table.alt tbody tr:first-child td {
  border-top-width: 1px;
}

table.alt thead {
  border-bottom: 0;
}

table.alt tfoot {
  border-top: 0;
}


/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #FF6382;
  border-radius: 4px;
  border: 0;
  color: !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 200;
  height: 2.85em;
  line-height: 2.95em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  background-color: #ff7c96;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
  background-color: #ff496e;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
  padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
  margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
  font-size: 0.8em;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
  font-size: 1.35em;
}

input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
button.alt,
.button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
  color: #ffffff !important;
}

input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
input[type="button"].alt:hover,
button.alt:hover,
.button.alt:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

input[type="submit"].alt:active,
input[type="reset"].alt:active,
input[type="button"].alt:active,
button.alt:active,
.button.alt:active {
  background-color: rgba(255, 0, 0, 0.2);
}

input[type="submit"].alt.icon:before,
input[type="reset"].alt.icon:before,
input[type="button"].alt.icon:before,
button.alt.icon:before,
.button.alt.icon:before {
  color: rgba(255, 255, 255, 0.35);
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
  background-color: #FF6382;
  color: !important;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
button.special:hover,
.button.special:hover {
  background-color: #ff7c96;
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
button.special:active,
.button.special:active {
  background-color: #ff496e;
}

input[type="submit"].disabled,
input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  background-color: rgba(255, 255, 255, 0.65) !important;
  box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
  color: #000 !important;
  cursor: default;
  opacity: 0.25;
}

@media screen and (max-width: 480px) {
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button,
  .button {
    padding: 0;
  }
}


/* Thumbnails */

.thumbnails {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  margin: 0 0 2em -2em;
}

.thumbnails a {
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-bottom: none;
  display: block;
  width: 100%;
  margin: 0 0 2em 0;
  text-align: center;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.075);
  cursor: pointer;
  outline: 0;
  overflow: hidden;
}

.thumbnails a img {
  display: block;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.thumbnails a h3 {
  margin: 1em;
}

.thumbnails a:hover {
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25), 0 0 0.5em 0 #FF6382;
}

.thumbnails>div {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: calc(100% / 3);
  padding-left: 2em;
}

.thumbnails>div> :last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1280px) {
  .thumbnails {
    margin: 0 0 2em -1.5em;
  }
  .thumbnails a {
    margin: 0 0 1.5em 0;
  }
  .thumbnails>div {
    padding-left: 1.5em;
  }
}

@media screen and (max-width: 980px) {
  .thumbnails h3 {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 480px) {
  .thumbnails {
    display: block;
  }
  .thumbnails a {
    margin: 0 0 2em 0 !important;
  }
  .thumbnails>div {
    display: block;
    width: 100%;
  }
  .thumbnails>div:last-child> :last-child {
    margin-bottom: 0 !important;
  }
  .thumbnails h3 {
    font-size: 1em;
  }
}


/* Poptrox */

.poptrox-popup {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0.5em 3em 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  overflow: hidden;
}

.poptrox-popup .closer {
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  text-decoration: none;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 2;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  white-space: nowrap;
  text-indent: 2.5em;
  overflow: hidden;
  width: 2.5em;
  height: 2.5em;
  display: block;
}

.poptrox-popup .closer:before {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.poptrox-popup .closer:before {
  display: block;
  position: relative;
  text-indent: 0;
  border-radius: 100%;
  box-shadow: inset 0 0 0 1px #ffffff;
  color: #ffffff !important;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
}

.poptrox-popup:hover .closer {
  opacity: 0.5;
}

.poptrox-popup:hover .closer:hover {
  opacity: 1.0;
}


/* Wrapper */

#wrapper {
  max-width: 68em;
  width: 100%;
  margin: 0 auto;
  padding: 0 2em;
  opacity: 1;
  filter: none;
  -moz-transition: opacity 1s ease, -moz-filter 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-filter 1s ease;
  -ms-transition: opacity 1s ease, -ms-filter 1s ease;
  transition: opacity 1s ease, filter 1s ease;
}

body.is-loading #wrapper {
  opacity: 0;
  -moz-filter: blur(1px);
  -webkit-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

body.is-covered #wrapper {
  -moz-filter: blur(3px);
  -webkit-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}


/* Header */

#header {
  text-align: center;
  padding: 6em 0 0em 0;
}

#header h1 {
  color: rgba(255, 255, 255, 0.65);
}

#header .avatar {
  border-radius: 100%;
  display: inline-block;
  margin: 0 0 2em 0;
  padding: 0.5em;
  border: solid 1px rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.075);
}

#header .avatar img {
  border-radius: 100%;
  display: block;
  width: 10em;
}

@media screen and (max-width: 1280px) {
  #header {
    padding: 4em 0 2em 0;
  }
}


/* Footer */

#footer {
  text-align: center;
  padding: 0em 0 4em 0;
  color: #fff;
}

#footer:before {
  content: '';
  border-top: solid 1px rgba(255, 255, 255, 0.25);
  width: 10em;
  display: block;
  margin: 0 auto 1em auto;
}

@media screen and (max-width: 1280px) {
  #footer {
    padding: 2em 0 2em 0;
  }
}